---
layout: default
---
<div class="row">
	<div class="col-md-2 alignMiddle">
		<div style="position:relative">
			<div class="circleText smaller">{{ page.header }}</div>
			<div class="circleSmall"></div>
		</div>
		<div class="alignLeft">
			<ul>
				<li><a href="{{ site.baseurl }}">Home</a></li>
				<li><a href="soften">Software Engineering</a></li>
				<li><a href="project1">Project 1</a></li>
				<li><a href="project2">Project 2</a></li>
			</ul>
		</div>
	</div>
  	<div class="col-md-7">
		<h2>My story</h2>
		<p>
			{{ content }}
	  	</p>
  	</div>
  	<div class="col-md-3">
		<h3>Useful links</h3>
		<ul>
		{% for item in page.links %}
			<li><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></li>
		{% endfor %}
		</ul>
  	</div>
</div>
